{% extends 'base.html' %}
{% block mainbody %}

<div class="container">


  <h3>Form</h3>
    <div class="card">
      <div class="card-body">
        <form action="/todolist/add" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputSubject" name="subject">Subject </label>
            <input type="text" class="form-control" id="exampleInputSubject" name="subject">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1" name="todo">To do </label>
            <input type="text" class="form-control" id="exampleFormControlTextarea1" name="todo">
          </div>
          <div class="form-group">
            <label for="exampleFormDate" name="deadline">Deadline</label>
            <input type="text" class="form-control" id="exampleFormDate" name="deadline" autocomplete="off" >
          </div>
          <div class="card-footer">
            <input type="submit" value="add" class="btn btn-primary">
          </div>
        </form>

      </div>
    </div>

    <br>
    <h3>Class Todo</h3>
    <div class="row row-cols-4">
      {% for todo in todolist %}
      <div class="col">
        <div class="card"
          style="width:15rem; height:14rem">
          <div class="card-body">
            <h5 class="card-title">{{todo.subject}}</h5>
            <p class="card-text">{{todo.todo}}</p>
            <p class="card-text">{{todo.deadline|date}}</p>
            <a href="todolist/todofinish/?id={{todo.id}}" class="btn btn-outline-success">Finish</a>
            <a href="todolist/tododelete/?id={{todo.id}}" class="btn btn-outline-danger">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <br>
    <h3>Finished</h3>

    <div class="row row-cols-4">
      {% for todo in finishtodos %}
      <div class="col">
        <div class="card"
          style="width: 15rem; height:14rem">
          <div class="card-body">
            <h5 class="card-title">{{todo.subject}}</h5>
            <p class="card-text">{{todo.todo}}</p>
            <p class="card-text">{{todo.deadline|date}}</p>
            <a href="todolist/todoback/?id={{todo.id}}" class="btn btn-outline-success">Recover</a>
            <a href="todolist/tododelete/?id={{todo.id}}" class="btn btn-outline-danger">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

</div>
{% endblock %}
